{% load static %} {% load humanize %}
<style>
    #uni_modal .modal-footer {
        display: none
    }
    
    #uni_modal .modal-sub-footer {
        display: flex
    }
</style>
<div class="container-fluid" id="e-details">
    <div class="lh-1">
        <dl>
            <dt>Laundry Type</dt>
            <dd class="ps-4">{{price.laundry_type}}</dd>
            <dt>Price per kg.</dt>
            <dd class="ps-4">{{price.price|floatformat:2|intcomma}}</dd>
            <dt>Status</dt>
            <dd class="ps-4">
                {% if price.status == '1' %}
                <span class="badge badge-success bg-gradient bg-success px-3 rounded-pill bg-opacity-75 text-sm py-1">Active</span> {% else %}
                <span class="badge badge-secondary bg-gradient bg-secondary px-3 rounded-pill bg-opacity-75 text-sm py-1">Inactive</span> {% endif %}
            </dd>
        </dl>
    </div>
</div>